.dailyLogContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.dailyLogContainer h3 {
  font-weight: 200;
}

.formSelectSection {
  display: flex;
  padding: 10px;
}

.formArraySection {
  padding: 10px;
}

.moreHelpIcon {
  height: 20px;
  cursor: pointer;
}

.formHeading {
  display: flex;
}

.planLog {
  /* border: red solid 1px; */
  width: 50%;
  border: rgba(170, 190, 195, 0.213) 5px solid;
  border-radius: 10px;
}

.actualLog {
  /* border: yellow 1px solid; */
  width: 50%;
  border: rgba(170, 190, 195, 0.213) 3px solid;
  border-radius: 15px;
}

.dailyLogForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
}

.saveLogBtn {
  width: 150px;
  background-color: rgb(2, 101, 200);
  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
}
