.dailyLogContainer {
  height: 90%;
  width: 70%;
}

form {
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(170, 190, 195, 0.213);
  border-radius: 10px;
}

.formSection {
  /* background-color: rgba(170, 190, 195, 0.213);
  border-radius: 10px; */
}

.moreHelpIcon {
  height: 20px;
  cursor: pointer;
}

.formHeading {
  display: flex;
}
