.addedItems {
  margin: 10px 0;
  border: gray 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

input {
  flex: 1;
  min-width: 0;
}

.formArrayInputBtn {
  margin: 0 10px;
  flex-shrink: 0;
}

.formArrayInput {
}

.inputSection {
  width: 100%;
  display: flex;
}
