.addedItems {
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
}

.addedItems li {
  /* background-color: rgba(2, 101, 200, 0.244); */
  background-color: rgba(183, 183, 183, 0.244);
  padding: 5px 20px;
  border-radius: 5px;
}

input {
  flex: 1;
  min-width: 0;
}

.formArrayInputBtn {
  margin: 0 10px;
  flex-shrink: 0;
}

.formArrayInput {
}

.inputSection {
  width: 100%;
  display: flex;
}
