.loginModal {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgb(132, 171, 244);
  border-radius: 5%;
  padding: 30px;
  align-items: center;
}

h3 {
  margin: 0;
}

.formSection {
  padding: 10px;
}

.logInBtn {
  margin-left: 70px;
}
