.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgba(208, 208, 208, 0.344);
}

ul {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 40px;
  align-items: center;
}

li {
  margin: 0 10px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}
