.navbar {
  width: 100vw;
  margin: none;
  padding: none;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}
