.homepage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 40px;
}

.date {
  font-size: 24px;
}

.dailyLogHeading h2 {
  margin: 0;
  padding: 0;
}

.dailyLogHeading {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  align-items: center;
}
